# Configuration and sensitive files
Qwen + llama/config.py
Qwen + llama/test_token.py
Qwen_llama/charts/

# Python caching
__pycache__/
*.py[cod]
*$py.class
Qwen + llama/__pycache__/

# Environments
venv/
.env

# Javascript / Node
node_modules/

